*.ipynb_checkpoints/
*.DS_Store
*/.buildlink
*.orig
*.sw*
*.disabled
*.zip
data/*
src/build/
src/build-debug/
pc/
bone/
service/
build/
build-debug/
.localconfig/
install/
tmp/
*.tar.gz
models.in
tags
avro-auto.h
ModelInstances.h
ProvListLoader.h
CG/*
tags
*.log
.state/
*.bak

# Remove for actual projects
oh-my-zsh/
vim/
zsh-syntax-highlighting
